/* Reset Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgb(104, 80, 169), rgb(24, 55, 149));
    transition: background-image 1s ease-in-out;
    overflow: hidden;
}


.moon, .cat, .cat-head, .cat-ear, .eye, .nose, .mouth, .cat-body, .arm1, .arm2 {
    position: absolute;
    cursor: grab;
}

.moon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 rgb(181, 184, 0);
	position: relative;
	top: -200px;  /* Adjust this value to set the vertical position */
	left: -80px; /* Adjust this value to set the horizontal position */
    transition: background-image 1s ease-in-out;
    box-shadow:10px rgba(255, 204, 0, 0.8);
  }
  /* Hover state - transforms into the sun */
  body:hover {
    background-image: linear-gradient(rgb(255, 234, 141), rgb(249, 161, 83));
}

/* Moon to Sun Transition */
body:hover .moon {
    background-color: rgb(249, 182, 11); /* Sun-like yellow */
    box-shadow: 0 0 30px 10px rgba(255, 204, 0, 0.8); /* Glowing effect */
}

/* Cat */
.cat {
    position: relative;
    width: 200px;
    height: 200px;
}

/* Cat Head */
.cat-head {
    width: 200px;
    height: 200px;
    background: linear-gradient(120deg, #c3a145, #a07d2a);
    border-radius: 50% 50% 40% 40%;
    position: relative;
    box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.3);
}

/* Ears */
.cat-ear {
    position: absolute;
    top: -40px;
    width: 60px;
    height: 60px;
    background: linear-gradient(120deg, #956f07, #724d00);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.cat-ear.left {
    left: 10px;
    transform: rotate(-15deg);
}

.cat-ear.right {
    right: 10px;
    transform: rotate(15deg);
}

/* Eyes */
.eye {
    position: absolute;
    top: 70px;
    width: 30px;
    height: 30px;
    background-color: rgb(9, 10, 10);
    border-radius: 50%;
    animation: blink 5s infinite;
}

.eye.left {
    left: 50px;
}

.eye.right {
    right: 50px;
}

/* Blinking Animation */
@keyframes blink {
    0%, 90% { height: 30px; }
    95%, 100% { height: 6px; }
}

/* Nose */
.nose {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 20px;
    background-color: rgb(156, 73, 87);
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

/* Mouth */
.mouth {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 30px;
    border-bottom: 10px solid black;
    border-radius: 0 0 20px 20px;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}
.mouth:active {
    transform: translateX(-50%) rotate(180deg);
}

/* Body */
.cat-body {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    background: linear-gradient(120deg, #c3a145, #a07d2a);
    border-radius: 50% 50% 30% 30%;
}

/* Arms */
 .arm2 {
    position: absolute;
    top: 180px;
    width: 40px;
    height: 120px;
    background: linear-gradient(120deg, #956f07, #724d00);
    border-radius: 50px;
	transform-origin: top;
    animation: arm-wave 1s infinite alternate ease-in-out;
}

.arm1 {
    position: absolute;
    top: 180px;
    width: 40px;
    height: 120px;
    background: linear-gradient(120deg, #956f07, #724d00);
    border-radius: 50px;
    
	
}



.arm1 {
    right: 0px;
}

.arm2 {
    left: 1px;
}

@keyframes arm-wave {
    10% { transform: rotate(10deg); }
    100% { transform: rotate(180deg); }
}